* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(229, 229, 229);
}

html{
    scroll-behavior: smooth;
}

.fundo_principal .fundo{
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
    filter: brightness(0.5);
}

.quadrado_logo{
    width: 60px;
    height: 60px;
    background-color:darkgray; 
    position: absolute;
    top: 30px; 
    left: 10%;
}
.quadrado_logo h4{
    display: flex;
    justify-content: center;
    margin-top: 27%;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: normal;
}

.topicos ul{
    list-style: none;
    position: absolute;
    font-family: 'Inter';
    font-weight: normal;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: -45%;
    margin-left: 35%;
}

.topicos li a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.topicos li a:hover{
    color:darkgray;
}

.texto-index{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: absolute;
    margin-top: -30%;
    margin-left: 38%;
    color: white;
    font-family: 'Inter';
}

.texto-index h3{
    font-size: 2em;
    margin-bottom: 20px; 
}

#sobremim{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 5%;
    font-family:'Dancing Script', cursive;
}

#sobremim h3{
    display: flex;
    justify-content: center;
    font-family:'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 200;
}

#sobremim p{
    margin-top: 30px;
    line-height: 1.6;
    width: 400px;
    margin-left: 30px;
}

.quadrado-fundo1{
    width: 500px;
    height: 500px;
    margin-left: 8%;
    background-color: rgb(155, 155, 155);
}

.quadrado-sobremim{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 500px;
    height: 500px;
    margin-left: 10%;
    margin-top: 53px;
    background-color:rgb(205, 205, 205);
    position: absolute;
    font-family: 'Inter';
}

#curiosidades{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: -3%;
}

#curiosidades h3{
    display: flex;
    justify-content: center;
    font-family:'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 200;
}

#curiosidades p{
    margin-top: 30px;
    line-height: 1.6;
    width: 400px;
    margin-left: 30px;
}

.quadrado-fundo2{
    width: 500px;
    height: 500px;
    margin-left: 53%;
    background-color: rgb(155, 155, 155);
}

.quadrado-curiosidades{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 500px;
    height: 500px;
    margin-left: 55%;
    margin-top: 53px;
    background-color:rgb(205, 205, 205);
    position: absolute;
    font-family: 'Inter';
}

.topicos_fil_ser_mus_liv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    justify-items: center;
    margin: auto;
    top: 250px;
    margin-top: 90px;
}

.filmes:hover{
    filter: brightness(0.7);
    transition: all 0.3s ease; 
}

.livros:hover{
    filter: brightness(0.7);
    transition: all 0.3s ease; 
}

.musicas:hover{
    filter: brightness(0.7);
    transition: all 0.3s ease; 
}

.series:hover{
    filter: brightness(0.7);
    transition: all 0.3s ease; 
}

#texto_imagens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    justify-items: center;
    margin: auto;
    margin-top: -95px;
    font-weight: 900; 
    font-family: 'Inter';
    font-size: 17px;
    color: white;
    filter: blur(0.8px)
}

.topicos_favoritos h4{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 20px;
    text-shadow: 3px 3px 5px rgba(121, 121, 121, 0.7);
    font-weight:300;
}

.fotos{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: auto;
    width: 96%;
    margin-top: 300px;
}

.luck{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}

.eu{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}

.cantando{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}

#footer-container{
    background-color: rgb(155, 155, 155);
    width: 100%;
    height: 100px;
    margin-top: 5%;
}

.footer_logo{
    width: 60px;
    height: 60px;
    background-color:rgb(231, 231, 231); 
    position: absolute; 
    left: 9%;
    margin-top: 20px;
}

.footer_logo h4{
    display: flex;
    justify-content: center;
    margin-top: 27%;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: normal;
}

#fundo-filmes img{
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
    filter: brightness(0.18);
}

#fundo-filmes h3{
    display: flex;
    margin-top: -550px;
    margin-left: 540px;
    height: 60px;
    color: white;
    position: absolute;
    font-family:'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 200;
}

.list-filmespref{
    display: flex;
    font-family: 'Inter';
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
    margin-top: -400px;
    position: absolute;
    color: white;
    font-size: 16px;
}

#fundo-livros img{
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
    filter: brightness(0.35);
}

#fundo-livros h3{
    display: flex;
    margin-top: -550px;
    margin-left: 540px;
    height: 60px;
    color: white;
    position: absolute;
    font-family:'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 200;
}

.list-livrospref{
    display: flex;
    font-family: 'Inter';
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
    margin-top: -400px;
    position: absolute;
    color: white;
    font-size: 16px;
}

#fundo-musicas img{
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
    filter: brightness(0.20);
}

#fundo-musicas h3{
    display: flex;
    margin-top: -550px;
    margin-left: 540px;
    height: 60px;
    color: white;
    position: absolute;
    font-family:'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 200;
}

.list-musicaspref{
    display: flex;
    font-family: 'Inter';
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
    margin-top: -400px;
    position: absolute;
    color: white;
    font-size: 16px;
}

#fundo-series img{
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
    filter: brightness(0.20);
}

#fundo-series h3{
    display: flex;
    margin-top: -550px;
    margin-left: 540px;
    height: 60px;
    color: white;
    position: absolute;
    font-family:'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 200;
}

.list-seriespref{
    display: flex;
    font-family: 'Inter';
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
    margin-top: -400px;
    position: absolute;
    color: white;
    font-size: 16px;
}